#swimbi{
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi ul{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAYAAABVcWC0AAAAd0lEQVQIWy3N2wqFIABEUeZHM4UkRKQ0EbxABELgR8/hhC/rcW/UWokxxuR9X6L3TjzPQ9z3TbTWiFIKkXMmUkqTGCNxXRcRQiC898R5nsRxHMSyLIQQYrKuK/EhpSSUUpNt2witNbHvO2GMIay1hHNu9r7H//sDhXpRjXWPYVIAAAAASUVORK5CYII=);
	min-width: 979px;
	padding: 0 6px 0 6px;
	border-radius: 0px;
	box-shadow: 0px 0px 2px  0px rgba(0,0,0,.55);
	margin: 0;
	width: 1140px;
	text-align: none;
	list-style: none;
	position: relative;
	display: inline-table;
}
#swimbi a{
	font-family: Verdana, Geneva, sans-serif !important;
}
#swimbi>ul>li{
	float: left;
	position: relative;
}
#swimbi ul li:hover>ul, .hvr>ul{
	display: block !important;
}
#swimbi>ul>li:hover>a, .hvr>a{
	color: #474747 !important;
	border-radius: 0px;
	position: relative;
	z-index: 9;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 18px;
	line-height: 35px;
	height: 35px;
	color: #ffffff;
}
#swimbi ul ul{
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	display: none;
	background: #e8e8e8;
	border-radius: 0px;
	width: auto;
	min-width: 160px;
	padding: 0px 1px 1px 1px;
	margin: 0;
	position: absolute;
	margin-top: 0;
	box-shadow: 0px 0px 0px  0px rgba(85,85,85,.010);
	top: 33px;
}
#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #999;
}
#swimbi ul ul li a{
	padding: 0px 20px;
	padding-right: 26px;
	line-height: 25px;
	height: 25px;
	color: #474747 !important;
	margin: 0;
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #474747 !important;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #637b8e;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 8;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'FontAwesome';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		padding: 0;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		margin: 0 7px 0 7px;
	}

	#swimbi>ul>li>a{
	    display:none;
	}

	#swimbi>ul:hover>li>a, .hvr>li>a{
		display:block !important;
	}

	#swimbi>ul>li:hover, .hvr{
		z-index: 9 !important;
	}

	#swimbi>ul:before {
	    font-family: FontAwesome;
	    content: '\f0c9';
		color: #ffffff;
		font-size: 14px;
	    float: right;
	    line-height: 35px;
	    padding: 0 20px;
	}

	#swimbi>ul:hover:before {
	    opacity: 0
	}

	#swimbi ul ul {
		left: 25px !important;
	}

	#swimbi ul ul ul{
		margin-top: 25px;
	}
}
